example/obj

example/obj/**

example/bin/*
!example/bin/data

exampleWithGui/bin/data/*.xml
!exampleWithGui/bin/data/settings_example.xml

**Breakpoints.xcbkptlist
exampleWithGUI/bin/exampleWithGUIDebug.app/Contents/MacOS/exampleWithGUIDebug
exampleWithGUI/exampleWithGUI.xcodeproj/project.xcworkspace/xcuserdata/waazamdevelopment.xcuserdatad/UserInterfaceState.xcuserstate
exampleWithGUI/exampleWithGUI.xcodeproj/*
